<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pico mixer</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎛️</text></svg>">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <style>
        .non-playing {
            background-color: rgb(215, 215, 215);
        }

        .paused {
            background-color: rgb(136, 136, 136) !important;
        }

        details#help {
            padding-top: 2em;
        }

        details#help summary {
            padding-bottom: 1em;
        }

        details#help li:nth-child(odd) {
            list-style-type: 'Q. ';
            font-weight: bold;
        }

        details#help li:nth-child(even) {
            list-style-type: "A. ";
            padding-bottom: 1em;
        }

        span.track-warning {
            margin-left: 1.2em;
            font-weight: bold;
            color: #ee3f3f;
        }

        div.badge {
            color: black;
        }
    </style>
</head>

<body class="p-2">
    <!-- Content -->
    <h1 class="text-center pb-2">Pico mixer</h1>

    <div class="position-relative pb-5">
        <div id="usb_status" class="position-absolute top-0 start-50 translate-middle-x"></div>
    </div>


    <div class="container">
        {% for track in tracks %}
        <div class="mb-3">
            <div class="track mb-2">
                {% set track_index = loop.index0 %}

                <span><kbd class="track_{{ track_index }}">{{ loop.index }}</kbd> - {{ track.title.replace(".ogg",
                    "")}}</span>

                <div class="d-inline float-end">
                    {% for tag in track.tags %}
                    <div class="badge track_{{ track_index }}">{{ tag }}</div>
                    {% endfor %}
                </div>

                <audio id="audio_track_{{ track_index }}" loop src="/assets/sounds/{{ track.title }}"></audio>
            </div>
            <div class="progress">
                <div id="progress_track_{{ track_index }}" class="progress-bar non-playing" style="width: 100%"></div>
            </div>
        </div>

        {% endfor %}

        <details id=help>
            <summary>Need help❓</summary>
            <ul>
                <li>I have plugged the pico but I'm still seeing 🔌 🚫</b></li>
                <li>Unplug the pico from your computer and plug it back</li>
                <li>The volume up/down and pause keys don't seem to be doing anything</li>
                <li>Press both the volume up/down/pause key <em>and</em> the track key at the same time</li>
                <li>Nothing happens when I press a track key</li>
                <li>Check the console for a message ending with <code>404 -</code> when you press the key. If that
                    happens, you might have a typo in the <code>title</code> property in the <code>config.json</code>
                    config file, causing it to differ from the filename on the disk.
                </li>
                <li>I'm seeing 🔌 ✅ but the bars are not colorized.</li>
                <li>Unplug the pico from your computer and plug it back</li>
                <li>(Windows only) I'm seeing an error containing <code>SerialException: cannot configure port, something
                    went wrong</code></li>
                <li>In my experience, I had to click on a popup window appearing in the bottom left of the screen when
                    plugging the pico, asking to repair the device</li>
                <li>(Windows-only) I press a key, the associated bar colors up, but I'm not hearing any sound.</li>
                <li>Open the browser developer console (<code>Ctrl Shift C</code> on Firefox or Edge,
                    <code>Ctrl Shift J</code> on Chrome) and
                    go to the <code>Console</code> tab. If you're seeing an error message saying <code>the play method is not allowed
                    [...] in the current context [...]</code>, you should .. scroll up and down in the page first. This
                    may sound a bit weird but browser do not like pages to play sound if you haven't interacted with
                    them beforehand.
                </li>
                <li>I have another question</li>
                <li>Have a look at the blogpost <a
                        href="https://blog.balthazar-rouberol.com/my-diy-dungeons-and-dragons-ambiance-mixer#isso-root">comment
                        section</a>, where it might already be answered! If not, feel free to drop a new comment and
                    I'll try to get back to you quickly.</li>
            </ul>
        </details>
    </div>

    <script src="assets/js/script.js"></script>
</body>

</html>