<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pico mixer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body class="p-2">
    <!-- Content -->
    <h1 class="text-center pb-2">Pico mixer</h1>

    <div class="position-relative pb-5">
        <div id="usb_status" class="position-absolute top-0 start-50 translate-middle-x"></div>
    </div>


    <div class="container">
        {% for key, track in tracks.items() %}
        <div class="mb-3">
            <div class="track mb-2">
                <span><kbd id="kbd_{{ key }}">{{ key }}</kbd> - {{ track.replace("sounds/", "") }}</span>
                <audio id="track_{{ key }}" loop src="/assets/sounds/{{ track.replace("sounds/", "" ) }}"></audio>
            </div>
            <div class="progress">
                <div id="progress_track_{{ key }}" class="progress-bar bg-secondary" style="width: 100%">
                </div>
            </div>
        </div>

        {% endfor %}
    </div>


    <script src="assets/js/script.js"></script>
</body>

</html>